@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@200&family=Edu+VIC+WA+NT+Beginner&family=Heebo:wght@100&family=Kanit:wght@600&family=Montserrat&family=Prompt:ital,wght@0,200;1,300&family=Raleway:ital,wght@1,200&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: rgb(161, 155, 155);
    --black: #000;
    --white: #fff;
    --blue: rgb(10, 156, 240);
}

body{
    font-family: 'Anek Tamil', sans-serif;
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    background-color: var(--black);
    border: 1px solid var(--blue);
    border-radius: 10px;
    height: 30vh;
    width: 20vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container div label i{
    font-size: 1.2em;
}

.container div input{
    border: 1px solid var(--dark);
    color: var(--blue);
    background-color: var(--black);
    border-radius: 4px;
    width: 10vw;
    height: 20px;
    padding: 5px;
    margin: 8px;
}

.container div input::placeholder{
    text-align: center;
    color: var(--dark);
}

.container button{
    border: 1px solid var(--dark);
    border-radius: 6px;
    width: 80px;
    height: 22px;
    margin: 10px;
    background-color: var(--black);
    color: var(--dark);
    transition: 0.6s;
}

.container button:hover{
    background-color: var(--dark);
    color: var(--black);
    border: 1px solid var(--blue);
    transition: 0.6s;
}


