<%- include('./partials/head') %> 
    <body>
        <form action="/cep" method="post">
            <div class="container">
                <div>
                    <h1>Localizar CEP</h1>
                </div>
                <div>
                    <input type="text" name="codigo" placeholder="Informar o cep">
                </div>
                <div>
                    <button type="submit" id="search">Buscar</button>
                </div>
            </div>
        </form>
    </body>
</html>